<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>방명록 목록보기</title>
</head>
<body>
    <h2>방명록 목록</h2>
    <table border="1" style="width:100%">
        <thead>
            <tr>
                <th>번호</th>
                <th>게시물 제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>비고</th>
            </tr>
        </thead>
        <tbody>
        {{#articles}}
            <tr style="text-align:center">
                <td>{{id}}</td>
                <td style="text-align:left">
                    <strong>
                        <a href="/article/view/{{id}}">{{subject}}</a>
                    </strong>
                </td>
                <td>{{writer}}</td>
                <td>{{createDate}}</td>
                <td>
                    <a href="#" onclick="chkDelete({{id}})">삭제</a>
                </td>
            </tr>
        {{/articles}}
        </tbody>
    </table>
    <a href="/article/write">방명록 작성</a>
<script>
    function chkDelete(id) {
        if( confirm("게시물을 삭제하시겠습니까?") ) {
            location.href = `/article/delete/${id}`;
        }
    }

</script>
</body>
</html>