<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>양정인력개발 회원목록</title>
    <style>
        table {
            width:100%;
            margin: 0 20px;
        }

        tr:first-child {
            background-color: #f7f7f7;
            text-align:center;
        }
    </style>
</head>
<body>
    <h2>회원목록</h2>
    <a href="/">메인으로</a>

    <table>
        <tr>
            <td>번호</td>
            <td>아이디</td>
            <td>비밀번호</td>
            <td>이름</td>
            <td>이메일</td>
            <td>등록일</td>
            <td>비고</td>
        </tr>
        {{#mList}}
        <tr>
            <td>{{id}}</td>
            <td>{{userid}}</td>
            <td>{{passwd}}</td>
            <td>{{username}}</td>
            <td>{{email}}</td>
            <td>{{createDate}}</td>
            <td>
                <a href="">삭제</a>
            </td>
        </tr>
        {{/mList}}
    </table>
</body>
</html>