<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>양정인력개발 웹사이트 메인</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <style>
        body {
            font-family: "Noto Sans KR", sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <ul>

            {{#myMember}}
                <li><a href="/logout">로그아웃</a></li>
            {{/myMember}}

            {{^myMember}}
                <li><a href="/login">로그인</a></li>
            {{/myMember}}


            <li><a href="/members">회원가입</a></li>
        </ul>
    </header>

    <main>

        {{#myMember}}
        <a href="/members/list">
            {{userid}}
            회원목록 페이지로 이동
        </a>
        {{/myMember}}

        <br />
        <a href="/articles">
            게시물 페이지로 이동
        </a>
    </main>
</body>
</html>