<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fetch를 이용한 서버 텍스트 불러오기</title>
</head>
<body>

    <button id="deleteJson">Fetch Delete를 이용한 PathVariable 전송 </button>

    <script>

        document.querySelector("#deleteJson")
        .addEventListener("click", function() {
            fetch("/v3/deleteJson/1", {
                method : "DELETE"
            } )
            .then( response => response.text()  )
            .then( data => console.log(data) );
        } );

    </script>
</body>
</html>